@import '~assets/style/font.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

h1, h2, h3, h4, h5, h6, a {
  color: $main-color;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}

@import '~assets/style/ui/buttons.scss';
@import '~assets/style/ui/form.scss';
