$border-radius: 0.2rem;

$main-color: #083b66;
$main-light: #9eb1bb;
$main-bg: lighten($main-light, 25%);

$secondary-color: #323232;

$gray-dark: #666666;
$gray-light: #dddddd;

$danger-dark: #a91409;
$danger-light: #fdd9d6;

$info-dark: #1b7a9f;
$info-light: #d0ecf7;

$success-dark: #357a38;
$success-light: #dbefdc;

$warning-dark: #e68a00;
$warning-light: #ffebcc;
